---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          La Taberna es un lugar pensado para que las historias que jugamos en el <Link
            href="https://www.instagram.com/pokecafe_pdc/"
            underline>PokeCafé</Link> trasciendan más allá de la mesa de juego. Aquí, cada aventura, cada personaje y cada decisión quedan grabados para nuevos jugadores o para recordar aquellas épicas partidas.
        </p>
        <p>
          Esta página está creada como homenaje a todo lo que nuestro <Link
            href="https://www.instagram.com/meshdm/"
            underline>DM Mesh</Link>, ha hecho por nosotros, a todas las risas y lágrimas que hemos compartido gracias a sus historias y esfuerzos. También va dedicada a todos los jugadores que han hecho de Dungeons & Dragons y el PokeCafé un lugar especial.
        </p>
        <p>
          ¡Gracias por ser parte de esta aventura!
        </p>
    </div>
<img src="https://files.d20.io/images/378616108/fPSnelBAVzB4hFoUgS2U9g/original.png"
  alt="Beholder"
  class="mx-auto my-8 max-w-xs"
/>
  </section>
</Layout>
