---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)

import { getAllTags, getPostsByTag } from '@/lib/data-utils'

export async function getStaticPaths() {
  const tagMap = await getAllTags()
  const uniqueTags = Array.from(tagMap.keys())

  return Promise.all(
    uniqueTags.map(async (tag) => {
      const posts = await getPostsByTag(tag)
      return {
        params: { id: tag },
        props: {
          tag,
          posts,
        },
      }
    }),
  )
}
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section>
    <div class="rounded-lg border">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-3xl leading-none font-medium">Dun·geons and Drag·ons</h3>
        <p class="text-muted-foreground text-sm">
          /ˈdʌn.d͡ʒənz ən ˈdɹæ.ɡənz/ &bull; <span class="font-medium">noun</span>
        </p>
      </div>
      <div class="p-6 pt-0">
        <p class="text-muted-foreground mb-2 text-sm">
          Dungeons & Dragons es un juego de rol de fantasía donde los jugadores asumen el papel de personajes en un mundo imaginario, enfrentándose a desafíos y aventuras guiados por Mesh, nuestro Dungeon Master.
        </p>
        <p class="text-muted-foreground text-sm">
          En La Taberna, encontrarás un lugar para leer tus historias, consejos y crónicas de otros aventureros. Aquí podrás leer sobre las últimas noticias, descubrir nuevos personajes y sumergirte en el mundo de D&D.
        </p>
      </div>
    </section>
    <section class="flex flex-col gap-y-8">
      <h2 class="text-2xl font-medium mb-2">El Momento de la Semana.</h2>
      <div class="flex flex-col md:flex-row items-center gap-4">
        <div class="w-full md:w-1/2 flex justify-center">
          <img
            src="https://i.imgur.com/D0jEIoo.jpeg"
            alt="La foto de la semana"
            class="object-contain rounded-lg w-full max-w-md h-auto"
          />
        </div>
        <div class="w-full md:w-1/2 flex items-center">
          <p class="text-muted-foreground text-md md:text-lg">
            "El dolor que estoy sintiendo no me pertenece, pero me impulsa"<br /><br />
            Esas fueron las palabras de Dino al enfrentarse a un Beholder, pues su primer personaje pereció a causa de sus rayos desintegradores.
          </p>
        </div>
      </div>
    </section>

    <section class="flex flex-col gap-y-8">
      <div>
        <h2 class="text-2xl font-medium mb-4">Lee las campañas del PokeCafé.</h2>
        <ul class="flex flex-col gap-y-4">
          {
            blog.map((post) => (
              <li>
                <BlogCard entry={post} />
              </li>
            ))
          }
        </ul>
        
        <div class="flex justify-center mt-4">
          <Link
            href="/blog"
            class={buttonVariants({ variant: 'ghost' }) + ' group'}
          >
            Explora más aventuras <span
              class="ml-1.5 transition-transform group-hover:translate-x-1"
              >&rarr;</span
            >
          </Link>
        </div>
      </div>
      <div>
        <h2 class="text-2xl font-medium mb-4">El grimorio de Erick para todo.</h2>
        <div class="mb-4">
          <span class="text-muted-foreground text-sm">Mostrando posts del</span>
          <span class="ml-2 font-semibold">#Grimorio de Erick</span>
        </div>
        <ul class="flex flex-col gap-y-4">
          {
            (await getPostsByTag('Grimorio')).length > 0 ? (
              (await getPostsByTag('Grimorio')).map((post) => (
                <li>
                  <BlogCard entry={post} />
                </li>
              ))
            ) : (
              <li class="text-muted-foreground text-sm">No hay publicaciones para esta etiqueta.</li>
            )
          }
        </ul>
      </div>
      <div>
        <h2 class="text-2xl font-medium mb-4">Explora por Etiquetas</h2>
        <ul class="flex flex-wrap gap-2">
          {
            (await getAllTags()).size > 0 ? (
              Array.from((await getAllTags()).keys()).map((tag) => (
                <li>
                  <Link href={`/tags/${tag}`} class="px-3 py-1 rounded bg-muted-foreground/10 hover:bg-muted-foreground/20 transition">{`#${tag}`}</Link>
                </li>
              ))
            ) : (
              <li class="text-muted-foreground text-sm">No hay etiquetas disponibles.</li>
            )
          }
        </ul>
      </div>
    </section>

</Layout>